// radiuses variables
$radiuses: (
    xxs: 4px,
    xs: 6px,
    sm: 8px,
    md: 10px,
    lg: 12px,
    xl: 16px,
    xxl: 20px,
    xxxl: 24px,
);

$xxs: 4px;
$xs: 6px;
$sm: 8px;
$md: 10px;
$lg: 12px;
$xl: 16px;
$xxl: 20px;
$xxxl: 24px;